body { width: 480px; margin: 40px auto; font-family: sans-serif; background: #FFFFFF; color: #330; line-height: 1.0; }

h1 { padding: 100px 10px 10px; font-family: 'Lato'; font-weight: 100;font-size:300%;  text-align: center;}
h3 { font-family: 'Lato'; font-weight: 100;font-size:150%;  text-align: center;}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration:none;}
.row {
    padding-bottom: 40px;
}
.gallery { padding: 10px 10px 10px }
.logo { padding: 10px 10px 40px 10px}

