    <h1>Gusts of Silent Wind</h1>
    <hr>
    <h3>Calmly - The Grey and White Album</h3>
    <hr>
    <audio autoplay></audio>
    <ol>
        <li><a href="#" data-src="/mp3/song2.mp3">The Arrival</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">Election</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">Transition</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">Little Story</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">Reflection</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">Rain Puddles</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">In The Heights</a></li>        
        <li><a href="#" data-src="/mp3/song2.mp3">Unselfish</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">Bon Voyage</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">Near The End</a></li>      
        <li><a href="#" data-src="/mp3/song2.mp3">Calmly</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">Twelve twelve end</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">Closing The Circle</a></li>         
    </ol>     
