    <h1>Gusts of Silent Wind</h1>
    <hr>
    <h3>Calmly - The Grey and White Album</h3>
    <hr>
    <audio autoplay></audio>
    <ol>
        <li><a href="#" data-src="/mp3/01 The Arrival.mp3">The Arrival</a></li>
        <li><a href="#" data-src="/mp3/02 The Choice.mp3">The Choice</a></li>
        <li><a href="#" data-src="/mp3/03 Bon voyage.mp3">Bon Voyage</a></li>
        <li><a href="#" data-src="/mp3/04 Little Story.mp3">Little Story</a></li>
        <li><a href="#" data-src="/mp3/05 Near The End.mp3">Near The End</a></li>    
        <li><a href="#" data-src="/mp3/06 Reflection.mp3">Reflection</a></li>
        <li><a href="#" data-src="/mp3/07 In The Heights.mp3">In The Heights</a></li>
        <li><a href="#" data-src="/mp3/08 Transition.mp3">Transition</a></li>
        <li><a href="#" data-src="/mp3/09 Unselfishness.mp3">Unselfishness</a></li>
        <li><a href="#" data-src="/mp3/10 The feeling of being in the queue of souls waiting to be born.mp3">The feeling of being in the queue of souls waiting to be born</a></li>
        <li><a href="#" data-src="/mp3/11 Twelve Twelve End.mp3">Twelve Twelve End</a></li>
        <li><a href="#" data-src="/mp3/12 Closing The Circle.mp3">Closing The Circle</a></li>            
    </ol>     
