    <h1>Gusts of Silent Wind</h1>
    <audio preload></audio>
    <ol>
        <!--<li><a href="#" data-src="http://s3.amazonaws.com/audiojs/01-dead-wrong-intro.mp3">track 1</a></li>
        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/02-juicy-r.mp3">track 2</a></li>
        <li><a href="#" data-src="http://s3.amazonaws.com/audiojs/03-its-all-about-the-crystalizabeths.mp3">track 3</a></li>-->
        <li><a href="#" data-src="/mp3/song1.mp3">track 1</a></li>
        <li><a href="#" data-src="/mp3/song2.mp3">track 2</a></li>
        <li><a href="#" data-src="/mp3/song3.mp3">track 3</a></li>
    </ol>     
