<body>

    <div class="container-narrow">
      <!--<div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="muted">Project name</h3>
      </div>-->

      <hr>

      <div class="jumbotron">
        <h1><a href="Calmly">Gusts of Silent Wind</a></h1>
        <!--<p class="lead">Calmly</p>-->
        <!--<a class="btn btn-large btn-success" href="#">Sign up today</a>-->
      </div>

      <hr>

      <!--<div class="row-fluid marketing">
        <div class="span6">
          <h4>Subheading</h4>
          <p>1Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>2Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>3Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>4Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>5Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>6Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>-->

      <hr>

      <!--<div class="footer">
        <p>&copy; Dusts of Silent Wind</p>
      </div>-->

    </div> <!-- /container -->
</body>