<html>
    <head>
        <title>{{ title }}</title>
        <!-- Meta-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="Keywords" content="Ambient, Soundtrack, Music, Album, Songs, Fragments, Silent Wind, audiojs, audio.js">
        <meta name="Description" content="Website for the new Musical Project of Userbarna: Gusts of Silent Wind">
        <!-- google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
        
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    <!-- Styles Bootstrap-->
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">    
    <!--<script src="/css/bootstrap.js"></script>-->
    <link href="/css/main.css" rel="stylesheet"  type="text/css">
    <link href="/css/mediaPlayerType.css" rel="stylesheet"  type="text/css">  
    <script src="/css/jquery.js"></script>
    <script src="/css/audiojs/audio.js"></script>
    

        
        <style>
          ol { padding: 0px; margin: 0px; list-style: decimal-leading-zero inside; color: #ccc; width: 460px; border-top: 1px solid #ccc; font-size: 0.9em; }
          ol li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }
          ol li a { display: block; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
          li.playing { color: #aaa; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
          li.playing a { color: #000; }
          li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }

        </style>
        
<script>
    $(function () {
        // Setup the player to autoplay the next track
        "use strict";
        var a = audiojs.createAll({
                trackEnded: function () {
                    var next = $('ol li.playing').next();
                    if (!next.length) {
                        next = $('ol li').first();
                    }
                    next.addClass('playing').siblings().removeClass('playing');
                    audio.load($('a', next).attr('data-src'));
                    audio.play();
                }
            });
        
        // Load in the first track
        var audio = a[0];
        var first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);
        
        // Load in a track on click
        $('ol li').click(function (e) {
            e.preventDefault();
            $(this).addClass('playing').siblings().removeClass('playing');
            audio.load($('a', this).attr('data-src'));
            audio.play();
        });

        // Keyboard shortcuts
        $(document).keydown(function (e) {
            var unicode = e.charCode ? e.charCode : e.keyCode;
             // right arrow
            if (unicode == 39) {
                var next = $('li.playing').next();
                if (!next.length) {
                    next = $('ol li').first();
                }
                next.click();
                // back arrow
            } else if (unicode == 37) {
                var prev = $('li.playing').prev();
                if (!prev.length) {
                    prev = $('ol li').last();
                }
                prev.click();
                // spacebar
            } else if (unicode == 32) {
                audio.playPause();
            }
        })
    });
    </script>    
        
        
 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37461160-1']);
  _gaq.push(['_setDomainName', 'gustsofsilentwind.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>       
        
        
        
    </head>

    <body>
        {{> content }}
      <div class="footer">
        <div style="text-align:center;">
            <a href="https://www.facebook.com/GustsOfSilentWind"><img src="/image/facebook.png" alt="Facebook GOSW Page"></a>
            <a href="https://www.twitter.com/GustsOfSilentWind"><img src="/image/twitter_bird.png" alt="Twitter GOSW Page"></a>
        </div>
        <div style="text-align:center;">
            &copy; 2013
        </div>
      </div>

    <div id="shortcuts">
      <div>
        <h1>Keep Calm. It's Under Construction!</h1>
        <p><em>&rarr;</em> Next track</p>
        <p><em>&larr;</em> Previous track</p>
        <p><em>Space</em> Play/pause</p>
      </div>
    </div>

    </body>


</html>